.CustomModal {
    display: block; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);

  &-Content {
    position: relative;
    margin: 100px auto;
    width: 60%;
    box-shadow: var(--box-shadow);
  }

  &-CloseIcon {
    position: absolute;
    top: var(--space-md);
    right: var(--space-md);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    background-color: #cccccc;
    cursor: pointer;

    &:hover {
        filter: opacity(0.6);
    }
  }

  &-CloseIconImg {
    width: 20px;
    height: 20px;
  }
}
