.ContactPage {
    position: relative;
    height: 336px;

    &-Header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    &-BgImage {
        position: relative;
        height: 100%;
    }

    &-BgImg {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}