.Movies {
    background-color: var(--clr-white);

    &-TopTitle {
        text-align: center;
        font-size: var(--fs-xl);
        font-weight: 600;
        color: var(--clr-secondary);
        margin-bottom: var(--space-md);
    }

    &-TopSubTitle {
        text-align: center;
        color: var(--clr-grey-dark);
        font-style: normal;
        font-family: var(--ff-secondary);
        font-weight: var(--fw-light);
        font-size: 18px;
        line-height: 20px;
        margin-bottom: var(--space-xxl);
    }

    &-Container {
        width: 100%;
        margin: 0 auto;
        row-gap: 20px;
        column-gap: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 375px;
        grid-auto-flow: dense;
    }
}